@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.segitiga-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transform-style: preserve-3d;
    pointer-events: none;
}
.segitiga-float img 
{
    width: 5%;
    position: absolute;
    top: 10%;
    left: 100%;
    transform: translate(-10%,-20%) translateZ(5px);
    transform-style: preserve-3d;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
    animation: float 2s alternate ease-in-out infinite;
    transition: 0.65s;  
}
@keyframes float 
{
    0% {
      transform: translateX(calc(-45% - 5px)) translateY(calc(-55% - 5px))
        translateZ(200px);
    }
  
    100% {
      transform: translateX(calc(-45% + 5px)) translateY(calc(-55% + 5px))
        translateZ(400px);
    }
}
.persegi-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transform-style: preserve-3d;
    pointer-events: none;
}
.persegi-float img 
{
    width: 5%;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-10%,-20%) translateZ(5px);
    transform-style: preserve-3d;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
    animation: float 2s alternate ease-in-out infinite;
    transition: 0.65s;  
}
@keyframes float 
{
    0% {
      transform: translateX(calc(-45% - 5px)) translateY(calc(-55% - 5px))
        translateZ(200px);
    }
  
    100% {
      transform: translateX(calc(-45% + 5px)) translateY(calc(-55% + 5px))
        translateZ(400px);
    }
}
.ketupat-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transform-style: preserve-3d;
    pointer-events: none;
}
.ketupat img 
{
    width: 5%;
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-10%,-20%) translateZ(5px);
    transform-style: preserve-3d;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
    animation: float 2s alternate ease-in-out infinite;
    transition: 0.65s;  
}
@keyframes float 
{
    0% {
      transform: translateX(calc(-45% - 5px)) translateY(calc(-55% - 5px))
        translateZ(200px);
    }
  
    100% {
      transform: translateX(calc(-45% + 5px)) translateY(calc(-55% + 5px))
        translateZ(400px);
    }
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f1db;
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffcf87, #ffe97c);
    clip-path: circle(30% at right);
}

body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#79d7ff, #83ff81);
    clip-path: circle(20% at 10% 10%);
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow:  10px 10px 50px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.container .card .content
{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0;
    transition: 0.3; */
}
/* .container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
} */
.container .card .content h2
{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 8em;
    opacity: 50%;
    color: rgba(183, 134, 29, 0.2);
    pointer-events: none;
}
.container .card .content h3
{
    font-size: 1.8em;
    color: #283544;
    z-index: 1;
}
.container .card .content p
{
    font-size: 1em;
    color: #283544;
    font-weight: 300;
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #56d1cb;
    color: #283544;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
}
